<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>


<div id="main">
 <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand">Endüstriyel Simbiyoz</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href={% url 'anasayfa' %}>Anasayfa <span class="sr-only">(current)</span></a>
          </li>

        </ul>
        <form class="form-inline mt-2 mt-md-0">

            <a href="{% url "cikis" %}" class="btn btn-outline-danger my-2 my-sm-0" type="submit">ÇIKIŞ YAP</a>

        </form>
      </div>
    </nav>
</div>


<div style="margin-top: 100px; margin-left: 350px;" class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-6">
<div  class="card text-center">
  <div class="card-header">
      <h5>Atık Bilgileri</h5>
  </div>
  <div class="card-body">
    <table id="producer_wastes" class="table table-hover">
        <tr><a href="{% url 'firmagor' id=firma.id %}">Firma Bilgileri</a></tr>
        <tr><td><b>Ticari Adı:</b></td> <td>{{ atik.TicariAdi }}<td> </tr>
        <tr><td><b>İl:</b></td> <td> {{ atik.Il }} <td> </tr>
        <tr><td><b>İlçe:</b></td> <td>{{ atik.Ilce }} <td> </tr>
        <tr><td><b>Atık Kodu:</b></td> <td>{{ atik.AtikKodu }} <td> </tr>
        <tr><td><b>Fiziksel Özellik:</b></td> <td>{{ atik.FizikselOzellik }}<td> </tr>
        <tr><td><b>Renk:</b></td> <td>{{ atik.Renk }} <td> </tr>
        <tr><td><b>Tehlike Özellikleri:</b></td> <td>{{ atik.TehlikeOzellik }} <td> </tr>
        <tr><td><b>Proses Bilgileri:</b></td> <td> {{ atik.ProsesBilgi }} <td> </tr>
        <tr><td><b>Atık Analiz Bilgileri:</b></td> <td> {{ atik.AtikAnaliz }} <td> </tr>
        <tr><td><b>Yıllık Miktarı:</b></td> <td> {{ atik.Miktar }} <td> </tr>
        <tr><td><b>Atık Tanımı:</b></td> <td> {{ atik.AtikTanim }} <td> </tr>
        <tr><td><b>Proses Amacı:</b></td> <td> {{ atik.ProsesAmac }} <td> </tr>
        <tr><td><b>Gerçekleştiği Proses Aşaması:</b></td> <td> {{ atik.ProsesAsama }} <td> </tr>
        <tr><td><b>Proses Özeti:</b></td> <td>{{ atik.ProsesOzet }} <td> </tr>
    </table>
      <table id="producer_wastes" class="table table-hover">
                <thead>
                <tr>
                    <th></th>
                    <th>Bilesen Adı</th>
                    <th>Yüzde</th>
                    <th>Max Oran</th>
                    <th>Min Oran</th>

                    <th></th>
                </tr>
                </thead>
                          <tbody>
                {% for i in bilesenler %}
                    <tr>
                        <td></td>
                        <td> {{i.Bilesenadi}}</td>
                        <td>{{ i.yuzde }}</td>
                        <td>{{ i.max }}</td>
                        <td>{{ i.min }}</td>



                        <td></td>
                    </tr>

                {% endfor %}
                </tbody>
            </table>

  </div>

  <div class="card-footer text-muted">
  </div>
</div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>


