<!DOCTYPE html>
{% load crispy_forms_filters %}
<html lang="en">
<head>
 <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>


<div id="main">
 <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" >Endüstriyel Simbiyoz</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href={% url 'anasayfa' %}>Anasayfa <span class="sr-only">(current)</span></a>
          </li>

        </ul>
        <form class="form-inline mt-2 mt-md-0">

          <a href="{% url "cikis" %}" class="btn btn-outline-danger my-2 my-sm-0" type="button">Çıkış Yap</a>
        </form>
      </div>
    </nav>
</div>
    <div style="margin-top: 100px; margin-left: 350px;" class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-6">
                <form method="GET">
                {% csrf_token %}
                    <h1>Hammadde Ara</h1>
                    <hr>
                    {{ form|crispy }}
                    <input style="margin-top: 10px; float: right" class="btn btn-primary" type="submit" value="ARAMA YAP">

                </form>
            </div>
        </div>
    </div>
<div style="margin-top: 20px;" class="card">
    <div class="card-header">
        <h3>HAMMADDELER</h3>
    </div>
    <div class="card-body">
            <table id="producer_wastes" class="table table-hover">
                <thead>
                <tr>
                    <th></th>
                    <th>Ticari Adı</th>
                    <th>Yıllık Miktarı (ton/yıl)</th>
                    <th>İl</th>
                    <th>İlçe</th>
                    <th>Bilesen</th>

                    <th></th>
                </tr>
                </thead>

                <tbody>

                {% for i in a %}
                    <tr>
                        <td></td>
                        <td><a href="{% url 'hammaddegor' id=i.hammadde.id %}"> {{i.hammadde.TicariAdi}}</a></td>
                        <td>{{ i.hammadde.Miktar }}</td>
                        <td>{{ i.hammadde.Il }}</td>
                        <td>{{ i.hammadde.Ilce }}</td>
                        <td>{{ i.Bilesenadi }}</td>



                        <td></td>
                    </tr>

                {% endfor %}
                </tbody>
            </table>

    </div>
</div>


</body>
</html>