<!DOCTYPE html>

<html lang="en">
<head>
 <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>


<div id="main">
 <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" >Endüstriyel Simbiyoz</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href={% url 'anasayfa' %}>Anasayfa <span class="sr-only">(current)</span></a>
          </li>

        </ul>
        <form class="form-inline mt-2 mt-md-0">

          <a href="{% url "cikis" %}" class="btn btn-outline-danger my-2 my-sm-0" type="button">Çıkış Yap</a>
        </form>
      </div>
    </nav>
</div>


<div  style="margin-top: 55px;" align="center" >
    <div class="media" style="background-color: #eee; width: 100%; height: 8em; " >

      <div class="media-body" style="margin-left: 20px;" align="left" >
        <h5 class="mt-0">{{ ad }}</h5>
        <h5 class="mt-0">{{ x }}</h5>

                <a href="{% url "firmaupdate" %}"  type="button" class="btn btn-primary" >Firma Bilgileri Düzenle</a>
                <a href="{% url "firmagoruntule" %}" type="button" class="btn btn-outline-info">Firma Bilgilerini Görüntüle</a>


      </div>

    </div>
</div>
<div class="card">
    <div class="card-body">
        <a href="{% url 'AtikEkle' %}">
            <button type="button" class="btn btn-success">Atık Ekle</button>
        </a>
        <a href="{% url 'hammadde_ara' %}" class="btn btn-outline-success">Hammadde Bul</a>



    </div>
</div>

<div class="card">
    <div class="card-header">
        <h3>ATIK ENVANTERİ</h3>
    </div>
    <div class="card-body">
            <table id="producer_wastes" class="table table-hover">
                <thead>
                <tr>
                    <th></th>
                    <th>Ticari Adi</th>
                    <th>Atık Kodu ve Açıklaması</th>
                    <th>Yıllık Miktarı (ton/yıl)</th>
                    <th>Fiziksel Özelliği</th>
                    <th>Tehlikelilik Özelliği</th>
                    <th>İşlemler</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for i in atiklar %}
                    <tr >
                        <td></td>
                        <td>  <a href="{% url 'atikgoruntule' id=i.id %}">{{ i.TicariAdi }}</a></td>
                        <td>{{ i.AtikKodu }}</td>
                        <td>{{ i.Miktar }}</td>
                        <td>{{ i.FizikselOzellik }}</td>
                        <td>{{ i.TehlikeOzellik }}</td>
                        <td>
                            <a href="{% url 'atikupdate' pk=i.pk %}" class="btn btn-warning">Düzenle</a>
                            <a href="{% url 'atiksil' id=i.id %}" class="btn btn-danger">Sil</a>
                            <!--/main/update/i.id sil ve eşleşmeler için de olacak dinamik url yaz-->
                        </td>

                        <td></td>
                    </tr>

                {% endfor %}
                </tbody>
            </table>

    </div>
</div>

</body>
</html>